<div class="tl-lad-design tl-sec-padding-y" id="unit-japanese">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-black text-center more-pad">
      Japanese Style
    </h2>

    <!-- images -->
    <div class="tl-up-image mb-50">
      <div>
        <img src="../../../img/images/unit-plans-border.png">
      </div>
    </div>

    <!-- descr -->
    <div class="tl-lad-descr tl-up-descr">
      <p class="text-center text-black">
        The Japanese elements of grace and delicacy, applied to the interior decor, furniture, and lighting, create an elegant and restful impression. The fusion of Indonesian and Japanese culture creates a bew touch of class. A story fit for the new premium residences to come. That is our commitment to the design of the spaces in Branz Simatupang.
      </p>
    </div>
  </div>
</div>
