<!-- image popup -->
<div
  class="tl-popup"
  id="popup-brochure-form"
  j-popup-place="brochure-form">
  <div class="tl-popup-brochure-inner position-relative">
    <a
      class="tl-popup-close"
      j-direction="popup-hide"
      j-popup-hide-target="brochure-form">
      <i class="fa fa-times"></i>
    </a>

    <div class="tl-fob">
      <h1 class="tl-sec-title text-white">Request Brochure</h1>

      <div class="tl-fob-form">
        <!-- request -->
        <div class="tl-field-chekbox mb-25">
          <div class="tl-field-chekbox-input">
            <input type="radio" class="tl-field-chekbox-input-field" name="brochure-radio" value="request" id="brochure-request">
            <div class="tl-field-chekbox-input-skin"></div>
          </div>
          <label class="tl-field-chekbox-label text-white" for="brochure-request">
            Request the printed brochure and we will deliver to your place right away
          </label>
        </div>

        <!-- discover -->
        <div class="tl-field-chekbox mb-25">
          <div class="tl-field-chekbox-input">
            <input type="radio" class="tl-field-chekbox-input-field" name="brochure-radio" value="discover" id="brochure-discover">
            <div class="tl-field-chekbox-input-skin"></div>
          </div>
          <label class="tl-field-chekbox-label text-white" for="brochure-discover">
            Discover our precious investment by downloading the E-brochure
          </label>
        </div>

        <!-- full name -->
        <div class="tl-field mandatory mb-25">
          <input type="text" class="tl-field-input">
          <label class="tl-field-label">Full Name</label>
        </div>

        <!-- telp -->
        <div class="tl-field mandatory mb-25">
          <input type="number" class="tl-field-input">
          <label class="tl-field-label">Telp</label>
        </div>

        <!-- email -->
      <div class="tl-field mandatory mb-25">
          <input type="email" class="tl-field-input">
          <label class="tl-field-label">Email</label>
        </div>
  
        <!-- address -->
        <div class="tl-field mandatory mb-25">
          <input type="text" class="tl-field-input">
          <label class="tl-field-label">Address</label>
        </div>
  
        <!-- message -->
        <div class="tl-field mb-25">
          <textarea class="tl-field-input"></textarea>
          <label class="tl-field-label">Message</label>
        </div>

        <!-- agree -->
        <div class="tl-fob-agree display-flex justify-content-center mb-25">
          <div class="tl-field-chekbox">
            <div class="tl-field-chekbox-input">
              <input type="radio" class="tl-field-chekbox-input-field" name="brochure-agree" value="agree" id="brochure-agree">
              <div class="tl-field-chekbox-input-skin"></div>
            </div>
            <label class="tl-field-chekbox-label text-white" for="brochure-agree">
              Agree to our <u>privacy policy</u>
            </label>
          </div>
        </div>

        <!-- agree -->
        <div class="tl-fob-button display-flex justify-content-center mb-25">
          <button type="button" class="tl-button btn-white">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>