<div class="tl-lad-design tl-sec-padding-y" id="unit-luxurious">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-black text-center more-pad">
      Luxurious Style
    </h2>

    <!-- images -->
    <div class="tl-up-image no-pad mb-50">
      <div>
        <div data-image="../../../img/images/unit-plans-1.jpg" style="height: 100%; background-image: url('../../../img/images/unit-plans-1.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
      </div>
    </div>

    <!-- descr -->
    <div class="tl-lad-descr tl-up-descr">
      <p class="text-center text-black">
        Gorgeus and dignified interior, decor, and facilities. A luxurious space spreads out before your eyes, creating a sense of sophisticated relaxation and elevating the slow, gradual flow of time. A luxurious everyday experience, available exclusively to residents. A story fit for the new premium residences to come. That is our commitment to the design of the spaces in Branz Simatupang.
      </p>
    </div>
  </div>
</div>
