<div
  class="tl-home-header position-relative height-fix"
  id="unit-header"
  j-direction="parallax"
  data-parallax-bg-image="../../../img/images/home-bg-header.jpg">
  <!-- #############################
    - Background opacity:
      - tujuannya dibuat bg opacity
        agar bisa diedit ketebalan
        opacitynya
  ############################## -->
  <div class="tl-home-header-op" style="opacity: 0.7;">&nbsp;</div>

  <!-- inner -->
  <div class="tl-home-header-inner">
    <!-- text, button -->
    <div class="tl-home-header-tb tl-container display-flex flex-wrap justify-content-center align-items-center">
      <div class="display-flex flex-wrap justify-content-center">
        <!-- title -->
        <h1 class="tl-sec-title text-white gap-less">Unit Plan</h1>

        <!-- text -->
        <p class="tl-header-text width-100 text-center text-white">
          The fusion of artisanship and different values, inspiring the sense of those who lives here
        </p>

        <!-- scroll down -->
        <a class="j-scroll" j-direction="scroll-section" j-target="unit-living">
          <span></span><span></span><span></span>Scroll
        </a>
      </div>
    </div>
  </div>
</div>
