<div class="tl-lad-design tl-sec-padding-y" id="unit-living">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-black text-center more-pad">
      Living Style
    </h2>

    <!-- descr -->
    <div class="tl-lad-descr tl-up-descr mb-50">
      <p class="text-center text-black">
        Fusing together different values from Indonesia, Japan, and The World. The concept of BRANZ Simatupang is also embodied by the Interior Design. Rather than presenting a stereotypical veneer of luxury and class, the design achieves harmony with human sensibilities, from the perspectives of both beauty and functionality.
      </p>
    </div>

    <!-- images -->
    <div class="tl-up-image mb-50">
      <div>
        <img src="../../../img/images/unit-plans-border.png">
      </div>
    </div>

    <!-- descr 2 -->
    <div class="tl-lad-descr tl-up-descr">
      <p class="text-center text-black">
        Particular care has been taken with the materials while the skills of artisans shine through even in the parts that are not immediately visible. Our aim was to create a space filled with genuine luxury. The design offers a deep sense of relaxation while inspiring residents every day, and becomes ever more radiant over time, bringing about the beautiful evolution of everyday life itself. That is our commitment to the design of the spaces in Branz Simatupang.
      </p>
    </div>
  </div>
</div>
