<div class="tl-up-rp" id="unit-room-plans">
  <!-- section filter -->
  <div class="tl-up-rp-filter tl-container">
    <!-- filter -->
    <div class="tl-up-rp-filter-wrap display-flex justify-content-center align-items-center">
      <!-- title -->
      <h1 class="tl-up-rp-filter-title tl-sec-title gap-0 text-white">Room Plan</h1>

      <!-- form -->
      <div class="tl-up-rp-filter-form">
        <form class="tl-up-rp-filter-form-wrap display-flex">
          <!-- select -->
          <div class="tl-up-rp-filter-select">
            <select class="tl-field-select">
              <option value="north-tower" selected>North Tower</option>
            </select>
          </div>

          <!-- list type -->
          <div class="tl-up-rp-filter-type display-flex">
            <a class="tl-up-rp-filter-type-item active">2 Bed Type</a>
            <a class="tl-up-rp-filter-type-item">1 Bed Type</a>
          </div>
        </form>
      </div>
    </div>

    <!-- name -->
    <h4 class="tl-up-rp-filter-name tranjanpro-bold text-center font-size-18px text-white">
      125sqm(Net)
    </h4>
  </div>

  <!-- section image -->
  <div class="tl-up-rp-result tl-container pad-more text-center">
    <img src="../../../img/images/room-plans.jpg" alt="Room Plans"> 
  </div>
</div>
