<div class="tl-footer" id="footer">
  <div class="tl-container-fluid display-flex justify-content-between align-items-center">
    <!-- logo -->
    <div class="tl-footer-logo">
      <a>
        <img src="../../../img/logos/logo-footer.png" alt="Toky Land Indonesia">
      </a>
    </div>

    <!-- copyright -->
    <div class="tl-footer-cr">
      BRANZ Simatupang Official Site &copy;TOKYU LAND INDONESIA | <span>Disclaimer</span>
    </div>

    <!-- sosmed -->
    <div class="tl-footer-sosmed display-flex justify-content-end align-items-center">
      <a class="display-block"><i class="fa fa-instagram"></i></a>
      <a class="display-block"><i class="fa fa-facebook-square"></i></a>
    </div>
  </div>
</div>
