<div class="tl-footer sc-2 position-relative" id="footer">
  <div class="tl-container-fluid display-flex justify-content-between align-items-center">
    <div>
      <!-- logo -->
      <div class="tl-footer-logo mb-5">
        <a>
          <img src="../../../img/logos/logo-footer.png" alt="Toky Land Indonesia">
        </a>
      </div>

      <!-- copyright -->
      <div class="tl-footer-cr">
        BRANZ Simatupang Official Site &copy;TOKYU LAND INDONESIA | <span>Disclaimer</span>
      </div>
    </div>

    <div>
      <div class="tl-footer-2-menu display-flex align-items-center">
        <!-- business hour -->
        <div class="tl-footer-2-menu-item">
          <div class="tl-footer-2-menu-info text-center">
            <h3 class="trajanpro font-size-14px text-brown mb-5">Business Hour</h3>
            <h4 class="font-size-24px text-white">10.00 - 19.00</h4>
          </div>
        </div>

        <!-- marketing gallery -->
        <div class="tl-footer-2-menu-item">
          <div class="tl-footer-2-menu-info text-center">
            <h3 class="trajanpro font-size-14px text-brown mb-5">Marketing Gallery</h3>
            <h4 class="font-size-24px text-white">+62 21 2765 2100</h4>
          </div>
        </div>

        <!-- sosmed -->
        <div class="tl-footer-2-menu-item">
          <div class="tl-footer-sosmed display-flex justify-content-end align-items-center">
              <a class="display-block"><i class="fa fa-facebook-square"></i></a>
            <a class="display-block"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
