<div class="tl-header bg-black sc-2" id="header">
  <div class="tl-header-inner display-flex justify-content-between align-items-center">
    <!-- logo -->
    <div class="tl-header-logo">
      <a class="logo-white">
        <img src="../../../img/logos/logo-white.png" alt="Branz Simatupang">
      </a>

      <a class="logo-black">
        <img src="../../../img/logos/logo-black.png" alt="Branz Simatupang">
      </a>
    </div>

    <!-- menu, buttons -->
    <div class="tl-header-menu-wrapper display-flex flex-wrap justify-content-end">
      <!-- buttons -->
      <div class="tl-header-button-wrapper display-flex justify-content-end align-items-center">
        <div class="tl-header-menu display-flex justify-content-end">
          <a
            class="display-flex align-items-center"
            j-direction="scroll-section"
            j-target="content-body">
            Home
          </a>

          <a
            class="display-flex align-items-center"
            j-direction="scroll-section"
            j-target="home-gallery">
            About Us
          </a>

          <a
            class="display-flex align-items-center"
            j-direction="scroll-section"
            j-target="home-landscape">
            Landscape & Design
          </a>

          <a
            class="display-flex align-items-center"
            j-direction="scroll-section"
            j-target="home-video">
            360º Video
          </a>

          <a
            class="display-flex align-items-center"
            j-direction="scroll-section"
            j-target="home-plan">
            Unit Plan
          </a>

          <a
            class="display-flex align-items-center"
            j-direction="scroll-section"
            j-target="">
            Contact Us
          </a>

        </div>

        <a class="tl-header-button-fr display-flex justify-content-center align-items-center" href="#rent" target="_blank">
          賃貸希望の方へ
        </a>
      </div>
    </div>
  </div>
</div>
