<div class="tl-header bg-black" id="header">
  <div class="tl-header-inner display-flex justify-content-between align-items-center">
    <!-- logo -->
    <div class="tl-header-logo">
      <a class="logo-white">
        <img src="../../../img/logos/logo-white.png" alt="Branz Simatupang">
      </a>
    </div>

    <!-- navicon -->
    <a
      class="tl-header-navicon" j-direction="sidebar-show">
      <i class="fa fa-navicon"></i>
    </a>

    <!-- button japan -->
    <a class="tl-header-button-fr mobile display-flex justify-content-center align-items-center" href="#rent" target="_blank">
      賃貸希望の方へ
    </a>

    <!-- menu, buttons -->
    <div class="tl-header-menu-wrapper display-flex flex-wrap justify-content-end">
      <!-- buttons -->
      <div class="tl-header-button-wrapper original display-flex justify-content-end">
        <div class="tl-header-menu top display-flex justify-content-end">
          <a class="display-flex align-items-center">About Us</a>
          <a class="display-flex align-items-center">Advantages</a>
        </div>

        <a class="tl-header-button-fr display-flex justify-content-center align-items-center" href="#rent" target="_blank">
          賃貸希望の方へ
        </a>
        <a class="tl-header-button-cu display-flex justify-content-center align-items-center">
          Contact Us
        </a>
      </div>

      <!-- menu -->
      <div class="tl-header-menu display-flex justify-content-end">
        <a class="display-flex align-items-center">Tower Tour</a>
        <a class="display-flex align-items-center">Concept</a>
        <a class="display-flex align-items-center">Location</a>
        <a class="display-flex align-items-center">Landscape & Design</a>
        <a class="display-flex align-items-center">Summary Page</a>
        <a class="display-flex align-items-center">Unit Plan</a>
        <a class="display-flex align-items-center">Facilities</a>
        <a class="display-flex align-items-center">About</a>
        <a class="display-flex align-items-center">Future</a>
      </div>
    </div>
  </div>
</div>
