<div class="tl-header" id="header">
  <div class="tl-header-inner display-flex justify-content-between align-items-center">
    <!-- logo -->
    <div class="tl-header-logo">
      <a class="logo-white">
        <img src="../../../img/logos/logo-white.png" alt="Branz Simatupang">
      </a>

      <a class="logo-black">
        <img src="../../../img/logos/logo-black.png" alt="Branz Simatupang">
      </a>
    </div>

    <!-- menu, buttons -->
    <div class="tl-header-menu-wrapper display-flex align-items-center">
      <!-- menu -->
      <div class="tl-header-menu display-flex">
        <a class="display-flex align-items-center">Tower Tour</a>
        <a class="display-flex align-items-center">Concept</a>
        <a class="display-flex align-items-center">Location</a>
        <a class="display-flex align-items-center">Landscape & Design</a>
        <a class="display-flex align-items-center">Summary Page</a>
        <a class="display-flex align-items-center">Unit Plan</a>
        <a class="display-flex align-items-center">Facilities</a>
        <a class="display-flex align-items-center">About</a>
        <a class="display-flex align-items-center">Future</a>
      </div>

      <!-- buttons -->
      <div class="tl-header-button-wrapper">
        <a class="tl-header-button-cu display-flex justify-content-center align-items-center">
          Contact Us
        </a>
        <a class="tl-header-button-fr display-flex justify-content-center align-items-center">
          For Rent
        </a>
      </div>
    </div>
  </div>
</div>
