<div class="tl-header bg-black" id="header">
  <div class="tl-header-inner display-flex justify-content-between align-items-center">
    <!-- logo -->
    <div class="tl-header-logo">
      <a class="logo-white" href="index-21.html">
        <img src="../../../img/logos/logo-white.png" alt="Branz Simatupang">
      </a>
    </div>

    <!-- navicon -->
    <a
      class="tl-header-navicon" j-direction="sidebar-show">
      <i class="fa fa-navicon"></i>
    </a>

    <!-- button japan -->
    <a class="tl-header-button-fr mobile display-flex justify-content-center align-items-center" href="#rent" target="_blank">
      賃貸希望の方へ
    </a>

    <!-- menu, buttons -->
    <div class="tl-header-menu-wrapper display-flex flex-wrap justify-content-end origin">
      <!-- buttons -->
      <div class="tl-header-button-wrapper original display-flex justify-content-end">
        <div class="tl-header-menu top display-flex justify-content-end">
          <a class="display-flex align-items-center" href="about-us.html">About Us</a>
          <a class="display-flex align-items-center" href="adventages-1.html">Advantages</a>
        </div>

        <a class="tl-header-button-fr display-flex justify-content-center align-items-center" href="#rent" target="_blank">
          賃貸希望の方へ
        </a>
        <a class="tl-header-button-cu display-flex justify-content-center align-items-center" href="contact-us.html">
          Contact Us
        </a>
      </div>

      <!-- menu -->
      <div class="tl-header-menu display-flex justify-content-end">
        <a class="display-flex align-items-center" href="index-21.html">Home</a>
        <a class="display-flex align-items-center" href="tower-tour.html">Tower Tour</a>
        <a class="display-flex align-items-center" href="concept.html">Concept</a>
        <a class="display-flex align-items-center">Surroundings</a>
        <a class="display-flex align-items-center" href="landscape.html">Landscape & Design</a>
        <a class="display-flex align-items-center" href="summary.html">Summary Page</a>
        <a class="display-flex align-items-center" href="unit-plans.html">Unit Plan</a>
        <a class="display-flex align-items-center" href="facilities.html">Facilities</a>
        <a class="display-flex align-items-center" href="future.html">Future</a>
      </div>

      <!-- contact us mobile -->
      <a class="tl-header-button-cu display-flex justify-content-center align-items-center mobile" href="contact-us.html">
        Contact Us
      </a>
    </div>
  </div>
</div>
