<div class="tl-home-fac tl-sec-padding-y" id="facilities-gallery">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-black text-center">
      Sophistication for Sophisticated Lifestyle
    </h2>

    <!-- text -->
    <p class="tl-home-fac-text text-black text-center">Furnished with a wide variety of common facilities that you are free to use as you wish, as if you were in your own home. Enjoy each day in your own way, while fostering relationships with those around you. Ripples of inspiration will fill your life. You will surely be reminded of the unique joy of living here, every time you use the facilities.</p>

    <!-- list -->
    <div class="tl-home-fac-list smaller text-center">
      <div class="row">
        <div class="tl-home-fac-list-item col-md-6 col-sm-12 mb-25 smaller">
          <div class="tl-home-fac-list-item-thumb" j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" class="tl-home-fac-list-item-bg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </div>
          <h3 class="tl-home-fac-list-item-title smaller">
            Enjoy luxurious moments in the semi-private pool.
          </h3>
        </div>

        <div class="tl-home-fac-list-item col-md-6 col-sm-12 mb-25 smaller">
          <div class="tl-home-fac-list-item-thumb" j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" class="tl-home-fac-list-item-bg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </div>
          <h3 class="tl-home-fac-list-item-title smaller">
            A sophisticated space offering a luxurious and relaxing time.
          </h3>
        </div>

        <div class="tl-home-fac-list-item col-md-6 col-sm-12 mb-25 smaller">
          <div class="tl-home-fac-list-item-thumb" j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" class="tl-home-fac-list-item-bg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </div>
          <h3 class="tl-home-fac-list-item-title smaller">
            An open space full opportunities for meeting other people.
          </h3>
        </div>

        <div class="tl-home-fac-list-item col-md-6 col-sm-12 mb-25 smaller">
          <div class="tl-home-fac-list-item-thumb" j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" class="tl-home-fac-list-item-bg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </div>
          <h3 class="tl-home-fac-list-item-title smaller">
            Enjoy luxurious moments in the semi-private pool.
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>