<div class="tl-home-gallery bg-white tl-sec-padding-y" id="tower-tour-actual">
  <div class="tl-container">
    <!-- title, video -->
    <div class="tl-actual-tv display-flex">
      <!-- title -->
      <div class="tl-actual-tv-title text-center">
        <h2 class="titlee mb-10">
          SEEING THE ACTUAL VIEW FROM THE ACTUAL UNIT
        </h2>
        <p class="text-black text-center">
          Visiting the Show Unit is one thing, but in the Tower Tour you can actually inspect and experience entering the real unit and what it’s like to be inside it. You can really get a feel of living as a residence of BRANZ SIMATUPANG.
        </p>
      </div>

      <!-- video -->
      <div class="tl-actual-tv-video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ycYLPbtxU1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <!-- gallery list -->
    <div class="tl-home-gallery-list no-gap">
      <div class="row">
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image" j-height-width-equal>
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
      </div>
    </div>

    <!-- image popup -->
    <div class="tl-popup" id="popup-show-img-wrapper">
      <div class="tl-popup-img-inner position-relative">
        <a class="tl-popup-close" id="popup-show-img-close"><i class="fa fa-times"></i></a>
        <div class="tl-popup-img-show" id="popup-show-img-place">
          <img src="">
        </div>
      </div>
    </div>
  </div>
</div>
