<div class="tl-home-gallery tl-sec-padding-y" id="tower-tour-facilities">
  <div class="tl-container">
    <!-- title -->
    <h2 class="tl-sec-title text-white text-center bordered">
      AWESOME THE COMMON AREAS AND FACILITIES
    </h2>

    <!-- descr -->
    <p class="tl-tower-descr-text mb-25 text-white text-center">
      Visiting the Show Unit is one thing, but in the Tower Tour you can actually inspect and experience entering the real unit and what it’s like to be inside it. You can really get a feel of living as a residence of BRANZ SIMATUPANG.
    </p>

    <!-- gallery list -->
    <div class="tl-home-gallery-list no-gap">
      <div class="row">
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
        <div class="tl-home-gallery-list-item col-lg-4 col-md-4 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          </a>
        </div>
      </div>
    </div>

    <!-- image popup -->
    <div class="tl-popup" id="popup-show-img-wrapper">
      <div class="tl-popup-img-inner position-relative">
        <a class="tl-popup-close" id="popup-show-img-close"><i class="fa fa-times"></i></a>
        <div class="tl-popup-img-show" id="popup-show-img-place">
          <img src="">
        </div>
      </div>
    </div>
  </div>
</div>
