<div class="tl-home-vid" id="tower-tour-video">
  <div class="tl-home-vid-row display-flex">
    <!-- video -->
    <div class="tl-home-vid-video height-out">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ycYLPbtxU1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <!-- descr -->
    <div class="tl-home-vid-descr tl-sec-padding-y">
      <!-- title -->
      <div class="tl-home-vid-descr-title-wrapper display-flex align-items-center">
        <h2 class="tl-home-vid-descr-title little-border tl-sec-title text-white gap-0">
          Visiting the actual building
        </h2>
      </div>

      <!-- descr text -->
      <div class="tl-home-vid-descr-text">
        <p>
          The construction of BRANZ SIMATUPANG is in its final stages, which has been progressing really steadily so far. Prior to our scheduled Handover soon, we would like to invite you for tower tour and experience BRANZ SIMATUPANG’s true Japanese quality by yourself. There are three main points that we believe will be beneficial to you, our treasured customers and future residents, upon joining the Tower Tour.
        </p>
      </div>
    </div>
  </div>
</div>
