// Open Sans
@font-face {
	font-family: OpenSans;
	src: url('../img/fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
	font-family: OpenSansBold;
	src: url('../img/fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face {
	font-family: OpenSansLight;
	src: url('../img/fonts/OpenSans/OpenSans-Light.ttf');
}

// Trajan Pro
@font-face {
	font-family: TrajanPro;
	src: url('../img/fonts/Trajan/TrajanPro-Regular.ttf');
}
@font-face {
	font-family: TrajanProBold;
	src: url('../img/fonts/Trajan/TrajanPro-Bold.ttf');
}

// Lato
@font-face {
	font-family: Lato;
	src: url('../img/fonts/LatoFonts/Lato-Regular.ttf');
}
@font-face {
	font-family: LatoBold;
	src: url('../img/fonts/LatoFonts/Lato-Bold.ttf');
}
@font-face {
	font-family: LatoLight;
	src: url('../img/fonts/LatoFonts/Lato-Light.ttf');
}
