html {
  padding: 0;
  margin: 0;
}
.display-flex {
  display: flex;
  &.flex-wrap { flex-wrap: wrap; }
  &.justify-content-center { justify-content: center; }
  &.justify-content-between { justify-content: space-between; }
  &.justify-content-around { justify-content: space-around; }
  &.justify-content-start { justify-content: flex-start; }
  &.justify-content-end { justify-content: flex-end; }
  &.align-items-stretch { align-items: stretch; }
  &.align-items-center { align-items: center; }
 }
.display-block { display: block; }
.display-none { display: none; }
.position-relative { position: relative; }
.position-absolute { position: absolute; }
.position-fixed { position: fixed; }
.width-100 {
  flex-basis: 100%;
  width: 100%;
  max-width: 100%;
}
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }
.text-white { color: $white; }
.text-black { color: $black; }
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}
.mx-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.mx-15 {
  margin-right: 15px;
  margin-left: 15px;
}
.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}
.mx-25 {
  margin-right: 25px;
  margin-left: 25px;
}

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }

.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }

.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
