// Colors
$black: black;
$blackLight: #232323;
$white: white;
$whiteSoft: #f6f4f5;
$grey: #6e6e6f;
$greyText: #808080;
$silver: #ececec;
$red: #ed2024;
$brown: #674b2f;
$blueNavy: #0d0e22;

// Fonts
$OpenSans: OpenSans;
$OpenSansBold: OpenSansBold;
$OpenSansLight: OpenSansLight;
$TrajanPro: TrajanPro;
$TrajanProBold: TrajanProBold;
$Lato: Lato;
$LatoBold: LatoBold;
$LatoLight: LatoLight;
$KozukaMincho: KozukaMincho;
$KozukaMinchoBold: KozukaMinchoBold;

// transisition
$transition_03s: all .3s ease-in-out;
