// Colors
$black: black;
$blackLight: #232323;
$white: white;
$grey: #6e6e6f;
$silver: #ececec;
$red: #ed2024;
$brown: #674b2f;

// Fonts
$OpenSans: OpenSans;
$OpenSansBold: OpenSansBold;
$OpenSansLight: OpenSansLight;
$TrajanPro: TrajanPro;
$TrajanProBold: TrajanProBold;
$Lato: Lato;
$LatoBold: LatoBold;
$LatoLight: LatoLight;

// transisition
$transition_03s: all .3s ease-in-out;
