<div class="tl-con2 tl-sec-padding-y" id="concept-concept-2">
  <!-- title -->
  <div class="tl-container">
    <h2 class="tl-sec-title bordered-top text-black text-center more-pad">
      BLENDING WITH THE SURROUNDINGS TO BECOME A WATER GARDEN PALACE.
    </h2>
  </div>

  <!-- descr -->
  <div class="tl-con1-descr con2">
    <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="tl-con1-descr-text">
        <p class="text-white mb-25">
          Rather than a foreign structure that stands out from the rest of the city, our aim is to create a building that will become the face of the city and accentuate the city itself.
        </p>
        <p class="text-white mb-25">
          We have studied the color of all things that make up this land. such the plan, soil, housing, and traditional culture.
        </p>
        <p class="text-white mb-25">
          We have analyzed a massive volume of data to derive a color concept for BRANZ Simatupang that is in harmony with the city of Jakarta. The design interior is based on the image of a waterfall.
        </p>
        <p class="text-white">
          The glass waterfall flowing down from the sky exudes a strong presence while resonating with the city, and fills the hearts of the residents with pride.
        </p>
      </div>
    </div>
  </div>
</div>
