<div class="tl-con1 tl-sec-padding-y" id="concept-concept-1">
  <!-- title -->
  <div class="tl-container">
    <h2 class="tl-sec-title bordered-top text-white text-center more-pad">
      WE AIM TO CREATE THE BEAUTY, ABUNDANCE, AND IMMUTABLE VALUE OF WATER.
    </h2>
  </div>

  <!-- descr -->
  <div class="tl-con1-descr">
    <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="tl-con1-descr-text">
        <p class="text-black mb-25">
          Droplets of Water that fall from leaves on the trees collect to from a river. Several rivers come together to make a mighty river, and then, eventually, a waterfall.
        </p>
        <p class="text-black">
          In the same way, BRANZ SIMATUPANG is formed from the collection of different values, fusing them cleanly together, and bringing them to the land of Jakarta beautiful, abundant, and with immutable value. We have drawn our inspiration from water.
        </p>
      </div>
    </div>
  </div>
</div>
