<div class="tl-au tl-sec-padding-y" id="about-about">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-center text-white">
      Product Outline
    </h2>

    <!-- descr -->
    <p class="tl-au-descr text-center text-white mb-50">
      BRANZ Simatupang Bulding Spesification Details
    </p>

    <!-- table -->
    <div class="tl-au-table text-center">
      <div class="row">
        <div class="tl-au-table-item bg-brown col-lg-4 col-md-4 col-sm-4 col-xs-4">
          Total Units
        </div>

        <div class="tl-au-table-item col-lg-8 col-md-8 col-sm-8 col-xs-8">
          381 Unit
        </div>
      </div>

      <div class="row">
        <div class="tl-au-table-item bg-brown col-lg-4 col-md-4 col-sm-4 col-xs-4">
          Floor
        </div>

        <div class="tl-au-table-item col-lg-8 col-md-8 col-sm-8 col-xs-8">
          27 F
        </div>
      </div>

      <div>
        <div class="row">
          <div class="tl-au-table-item bg-brown col-lg-12 col-md-12 col-sm-12 col-xs-12">
            Residence Unit Ratio
          </div>
        </div>

        <div class="row">
          <div class="tl-au-table-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
            2 BR (122 Sqm) NETT
          </div>

          <div class="tl-au-table-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
            3 BR (122 Sqm) NETT
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="tl-au-table-item bg-brown col-lg-12 col-md-12 col-sm-12 col-xs-12">
            Facilities
          </div>
        </div>

        <div class="row">
          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Restaurant
          </div>

          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Cafe
          </div>

          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Supermarket
          </div>
        </div>

        <div class="row">
          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Grocery Stores
          </div>

          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Lounge
          </div>

          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Library
          </div>
        </div>

        <div class="row">
          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Indoor Swimming Pool
          </div>

          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Library
          </div>

          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Library
          </div>
        </div>

        <div class="row">
          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Indoor Swimming Pool
          </div>

          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Outdoor Swimming Pool
          </div>

          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Gym & Studio
          </div>
        </div>

        <div class="row">
          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Function Room Grass Lawn
          </div>

          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Reception Yoga
          </div>

          <div class="tl-au-table-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
            Children Playground Maid Lounge
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
