<div class="tl-home-ls" id="home-brochure">
  <div class="tl-home-ls-slider-item height-auto" data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
    <div class="tl-container tl-sec-padding-y text-center">
      <h2 class="tl-sec-title text-white gap-less">Get and Download Our Brochure!</h2>
      <div class="tl-home-ls-button display-flex justify-content-center">
        <a
          class="tl-button btn-white"
          j-direction="popup-show"
          j-popup-target="brochure-form">
          Request Brochure!
        </a>
      </div>
    </div>
  </div>
</div>
