<div class="tl-home-fac tl-sec-padding-y" id="home-facilities">
  <div class="tl-container">
    <!-- title -->
    <h2 class="tl-sec-title text-black text-center">
      Our Facilities
    </h2>

    <!-- list -->
    <div class="tl-home-fac-list no-gap text-center">
      <div class="row">
        <div class="tl-home-fac-list-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tl-home-fac-list-item-thumb">
            <div data-image="../../../img/images/home21-fac-1.jpg" class="tl-home-fac-list-item-bg" style="height: 100%; background-image: url('../../../img/images/home21-fac-1.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          
            <div class="tl-home-fac-list-item-text display-flex justify-content-center align-items-center">Outdoor Swimming Pool</div>
          </div>
          <h3 class="tl-home-fac-list-item-title">
            Enjoy luxurious moments in the semi-private pool.
          </h3>
        </div>

        <div class="tl-home-fac-list-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tl-home-fac-list-item-thumb">
            <div data-image="../../../img/images/home21-fac-2.jpg" class="tl-home-fac-list-item-bg" style="height: 100%; background-image: url('../../../img/images/home21-fac-2.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          
            <div class="tl-home-fac-list-item-text display-flex justify-content-center align-items-center">Cafe & Lounge</div>
          </div>
          <h3 class="tl-home-fac-list-item-title">
            A sophisticated space offering a luxurious and relaxing time.
          </h3>
        </div>

        <div class="tl-home-fac-list-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tl-home-fac-list-item-thumb">
            <div data-image="../../../img/images/home21-fac-3.jpg" class="tl-home-fac-list-item-bg" style="height: 100%; background-image: url('../../../img/images/home21-fac-3.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
          
            <div class="tl-home-fac-list-item-text display-flex justify-content-center align-items-center">Garden</div>
          </div>
          <h3 class="tl-home-fac-list-item-title">
            An open space full opportunities for meeting other people.
          </h3>
        </div>
      </div>
    </div>

    <!-- button -->
    <div class="tl-home-fac-button display-flex justify-content-center mt-50">
      <a class="tl-button btn-black">Explore Facilities</a>
    </div>
  </div>
</div>