<div class="tl-home-vid" id="home-video">
  <div class="tl-home-vid-row display-flex">
    <!-- video -->
    <div class="tl-home-vid-video">
      <a j-direction="popup-show" j-popup-target="popup-video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ycYLPbtxU1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </a>
    </div>

    <!-- descr -->
    <div class="tl-home-vid-descr tl-sec-padding-y">
      <!-- title -->
      <div class="tl-home-vid-descr-title-wrapper display-flex align-items-center">
        <img src="../../../img/images/japan-flag.png" class="mr-10" alt="Flag">
        <h2 class="tl-home-vid-descr-title tl-sec-title text-white gap-0">ALL JAPANESE PERFECTION</h2>
      </div>

      <!-- descr text -->
      <div class="tl-home-vid-descr-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
        </p>
      </div>
    </div>

    <!-- popup video -->
    <div
      class="tl-popup"
      id="popup-video"
      j-popup-place="popup-video">
      <div class="tl-popup-video-inner position-relative">
        <a
          class="tl-popup-close"
          j-direction="popup-hide"
          j-popup-hide-target="popup-video">
          <i class="fa fa-times"></i>
        </a>

        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ycYLPbtxU1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
