<div class="tl-home-lc tl-sec-padding-y" id="home-location">
  <div class="tl-container">
    <!-- title -->
    <h2 class="tl-sec-title text-white text-center">
      Location
    </h2>

    <!-- map -->
    <div class="tl-home-lc-map">
      <img src="../../../img/images/map.jpg" alt="Map">
    </div>
  </div>
</div>