<div class="tl-home-ls" id="home-plan">
  <div class="tl-home-ls-slider-item shahow-white" data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
    <div class="tl-container tl-sec-padding-y">
      <h2 class="tl-sec-title text-white gap-less">Unit Plan</h2>
      <p class="tl-home-ls-text text-white mb-25">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <div class="tl-home-ls-button display-flex">
        <a class="tl-button btn-white">Explore Units</a>
      </div>
    </div>
  </div>
</div>
