<div class="tl-home-ls" id="home-landscape">
  <!-- slider -->
  <div class="tl-home-landscape-slider" id="home-landscape-slider">
    <!-- item 1 -->
    <div class="tl-home-ls-slider-item" j-direction="parallax" data-parallax-bg-image="../../../img/images/home21-bg-landscape.jpg">
      <div class="tl-container tl-sec-padding-y display-flex align-items-center">
        <div>
          <h2 class="tl-sec-title text-white gap-less">LANDSCAPE AND DESIGN</h2>
          <p class="tl-home-ls-text text-white mb-25">
            Reminiscent of a waterfall from the Sky. <br>
            Blending with the surroundings to become a symbol of the city.
          </p>
          <div class="tl-home-ls-button display-flex">
            <a class="tl-button btn-white">See More</a>
          </div>
        </div>
      </div>
    </div>

    <!-- item 2 -->
    <div class="tl-home-ls-slider-item" data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="tl-container tl-sec-padding-y">
        <h2 class="tl-sec-title text-white gap-less">LANDSCAPE AND DESIGN 2</h2>
        <p class="tl-home-ls-text text-white mb-25">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
        </p>
        <div class="tl-home-ls-button display-flex">
          <a class="tl-button btn-white">See More</a>
        </div>
      </div>
    </div>

    <!-- item 3 -->
    <div class="tl-home-ls-slider-item" data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
      <div class="tl-container tl-sec-padding-y">
        <h2 class="tl-sec-title text-white gap-less">LANDSCAPE AND DESIGN 3</h2>
        <p class="tl-home-ls-text text-white mb-25">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
        </p>
        <div class="tl-home-ls-button display-flex">
          <a class="tl-button btn-white">See More</a>
        </div>
      </div>
    </div>
  </div>
</div>
