<div class="tl-home-header position-relative" id="home-header">
  <div j-direction="slider">
    <div class="position-relative">
      <!-- image background -->
      <div class="tl-home-header">
        <img src="../../../img/images/home-bg-header.jpg">
      </div>

      <!-- #############################
        - Background opacity:
          - tujuannya dibuat bg opacity
            agar bisa diedit ketebalan
            opacitynya
      ############################## -->
      <div class="tl-home-header-op" style="opacity: 0.7;">&nbsp;</div>

      <!-- inner -->
      <div class="tl-home-header-inner">
        <!-- text, button -->
        <div class="tl-home-header-tb tl-container display-flex flex-wrap justify-content-center align-items-center">
          <div class="display-flex flex-wrap justify-content-center">
            <!-- text -->
            <h1 class="tl-home-header-text width-100 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
    
            <!-- button -->
            <div class="tl-home-header-button">
              <a class="tl-button btn-white">
                Tower Tour Preview
              </a>
            </div>
    
            <!-- scroll down -->
            <a class="j-scroll" j-direction="scroll-section" j-target="home-gallery">
              <span></span><span></span><span></span>Scroll
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative">
      <!-- image background -->
      <div class="tl-home-header">
        <img src="../../../img/images/home-bg-header.jpg">
      </div>

      <!-- #############################
        - Background opacity:
          - tujuannya dibuat bg opacity
            agar bisa diedit ketebalan
            opacitynya
      ############################## -->
      <div class="tl-home-header-op" style="opacity: 0.7;">&nbsp;</div>

      <!-- inner -->
      <div class="tl-home-header-inner">
        <!-- text, button -->
        <div class="tl-home-header-tb tl-container display-flex flex-wrap justify-content-center align-items-center">
          <div class="display-flex flex-wrap justify-content-center">
            <!-- text -->
            <h1 class="tl-home-header-text width-100 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
    
            <!-- button -->
            <div class="tl-home-header-button">
              <a class="tl-button btn-white">
                Tower Tour Preview
              </a>
            </div>
    
            <!-- scroll down -->
            <a class="j-scroll" j-direction="scroll-section" j-target="home-gallery">
              <span></span><span></span><span></span>Scroll
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative">
      <!-- image background -->
      <div class="tl-home-header">
        <img src="../../../img/images/home-bg-header.jpg">
      </div>

      <!-- #############################
        - Background opacity:
          - tujuannya dibuat bg opacity
            agar bisa diedit ketebalan
            opacitynya
      ############################## -->
      <div class="tl-home-header-op" style="opacity: 0.7;">&nbsp;</div>

      <!-- inner -->
      <div class="tl-home-header-inner">
        <!-- text, button -->
        <div class="tl-home-header-tb tl-container display-flex flex-wrap justify-content-center align-items-center">
          <div class="display-flex flex-wrap justify-content-center">
            <!-- text -->
            <h1 class="tl-home-header-text width-100 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
    
            <!-- button -->
            <div class="tl-home-header-button">
              <a class="tl-button btn-white">
                Tower Tour Preview
              </a>
            </div>
    
            <!-- scroll down -->
            <a class="j-scroll" j-direction="scroll-section" j-target="home-gallery">
              <span></span><span></span><span></span>Scroll
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- fireflies -->
  <div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
  </div>
</div>
