<div class="tl-at-premium tl-sec-padding-y" id="adventages-1-premium">
  <div class="tl-container pad-more">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <!-- title -->
        <h2 class="tl-sec-title bordered-top text-center text-white">
          Exquisite and Sophisticated Design
        </h2>

        <!-- descr -->
        <p class="text-center text-white">
          Our location is attractive for foreign residents from Japan and other countries. It has especially good access to transportation for Japanese families to go to work as well as attend Jakarta Japanese schools. This is also the first development by Tokyu and Obayashi Corporation. All Japanese people know these companies, making these condominiums a most reliable option in Jakarta. Considering this situation, our project is a new option for many people, and has large advantages, which is also attractive to many investors, even in future rental markets.
        </p>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="tl-at-pr-marker text-right">
          <img src="../../../img/images/adventage-marker.jpg" alt="Marker">
        </div>
      </div>
    </div>
  </div>
</div>
