<div class="tl-at-luxury" id="adventages-1-luxury">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="tl-at-lx-img text-right">
        <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="tl-at-lx-descr display-flex align-items-center">
        <div>
          <!-- title -->
          <h2 class="tl-sec-title bordered-top text-center text-white">
            FIRST-RATE MATERIALS THAT EXUDE LUXURY
          </h2>

          <!-- descr -->
          <p class="text-center text-white">
            We surveyed buildings in Indonesia from a building management viewpoint. We saw that many buildings with luxurious designs and imported materials have many maintenance problems. For example, to repair or replace damaged imported marble, much time and cost are required to import materials from overseas. As a result, we see many buildings that are left unrepaired. We thoroughly consider maintenance aspects as well as creating spaces that feel luxurious in order to maintain their beauty into the future and select the optimal materials.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
