<div class="tl-at-tm tl-sec-padding-y" id="adventages-1-team">
  <div class="tl-container pad-more mt-50">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-center">
      Tokyu & Obayashi Joint Project Team
    </h2>

    <!-- images -->
    <div class="tl-at-tm-img text-center mb-50">
      <img src="../../../img/images/tokyo-x-obayashi.jpg" alt="Tokyo X Obayashi">
    </div>

    <!-- descr -->
    <div class="tl-at-tm-descr text-center">
      <p class="mb-25">
        Tokyu Land is a leading Japanese developer. It developed these condominiums with Obayashi Corporation, which ranks as "Number 1 in Japan*" among world's leading general contractors. These companies boast long histories and class technologies. We are now working together to create authentic Japanese condominiums in Jakarta.
      </p>
      <p class="trajanpro-bold text-brown">*ENR Top 250 Global Contractors</p>
    </div>
  </div>
</div>
