<div class="tl-at-ds tl-sec-padding-y" id="adventages-1-design">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-center text-white">
      Exquisite and Sophisticated Design
    </h2>

    <!-- items -->
    <div class="tl-at-ds-card">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tl-at-ds-card-item">
            <h4 class="tl-at-ds-ci-title">Total Design Supervise</h4>
            <div class="tl-at-ds-ci-content text-center">
              <div class="tl-at-ds-ci-ct-title_img">
                <img src="../../../img/images/tokyu-sekkei.jpg" alt="Title image">
              </div>
              <div class="tl-at-ds-ci-thumb">
                <div data-image="../../../img/images/tokyu-sekkei-thumb.jpg" style="height: 100%; background-image: url('../../../img/images/tokyu-sekkei-thumb.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
              </div>
              <p class="tl-at-ds-ci-descr">
                The design was managed by Tokyu Architects & Engineers Inc., part of Tokyu Group. This company works on many Tokyu projects in Japan, and knows Tokyu's requirements very well.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tl-at-ds-card-item">
            <h4 class="tl-at-ds-ci-title">Interior Design</h4>
            <div class="tl-at-ds-ci-content text-center">
              <div class="tl-at-ds-ci-ct-title_img">
                <img src="../../../img/images/gensler.jpg" alt="Title image">
              </div>
              <div class="tl-at-ds-ci-thumb">
                <div data-image="../../../img/images/gensler-thumb.jpg" style="height: 100%; background-image: url('../../../img/images/gensler-thumb.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
              </div>
              <p class="tl-at-ds-ci-descr">
                The interior design was managed by Gensler, the world's number one interior design firm. Excellent Japanese designers who work at Gensler were hired to achieve ideal interior designs.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tl-at-ds-card-item">
            <h4 class="tl-at-ds-ci-title">Facade Design</h4>
            <div class="tl-at-ds-ci-content text-center">
              <div class="tl-at-ds-ci-ct-title_img">
                <img src="../../../img/images/climat.jpg" alt="Title image">
              </div>
              <div class="tl-at-ds-ci-thumb">
                <div data-image="../../../img/images/climat-thumb.jpg" style="height: 100%; background-image: url('../../../img/images/climat-thumb.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
              </div>
              <p class="tl-at-ds-ci-descr">
                The facade design was managed by CLIMAT, a color research specialist group. They thoroughly researched urban and soil colors in Indonesia. They aimed to blend the building's facade design with Jakarta's atmosphere and environment.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
