{% extends 'layouts/default.twig' %}
{% set head_title = 'Facilities' %}

{% block page %}
  <!-- header -->
  {% include './partials/layouts/_header.twig' %}

  <!-- content -->
  <div class="tl-content sec-2" id="content-body">
    <!-- section 1 header -->
    {% include './partials/facilities/_sec-header.twig' %}

    <!-- section 2 gallery -->
    {% include './partials/facilities/_sec-gallery.twig' %}

    <!-- section 3 details -->
    {% include './partials/facilities/_sec-details.twig' %}
  </div>

  <!-- footer -->
   {% include './partials/layouts/_footer-21.twig' %}
{% endblock %}
