{% extends 'layouts/default.twig' %}
{% set head_title = 'About Us' %}

{% block page %}
  <!-- header -->
  {% include './partials/layouts/_header.twig' %}

  <!-- content -->
  <div class="tl-content" id="content-body">
    <!-- section 1 header -->
    {% include './partials/future/_sec-header.twig' %}

    <!-- section 2 marker -->
    {% include './partials/future/_sec-marker.twig' %}

    <!-- section 3 brochure -->
    {% include './partials/future/_sec-brochure.twig' %}

    <!-- section 4 brochure form -->
    {% include './partials/unit/_sec-brochure-form.twig' %}
  </div>

  <!-- footer -->
  {% include './partials/layouts/_footer.twig' %}
{% endblock %}
