{% extends 'layouts/default.twig' %}
{% set head_title = 'Home' %}

{% block page %}
  <!-- header -->
  {% include './partials/layouts/_header.twig' %}

  <!-- content -->
  <div class="tl-content">
    <!-- section 1 header -->
    {% include './partials/homepage/_sec-header.twig' %}

    <!-- section 2 gallery -->
    {% include './partials/homepage/_sec-gallery.twig' %}

    <!-- section 3 facilities -->
    {% include './partials/homepage/_sec-facilities.twig' %}
  </div>

  <!-- footer -->
  {% include './partials/layouts/_footer.twig' %}
{% endblock %}
