{% extends 'layouts/default.twig' %}
{% set head_title = 'Home' %}

{% block page %}
  <!-- header -->
  {% include './partials/layouts/_header.twig' %}

  <!-- content -->
  <div class="tl-content" id="content-body">
    <!-- section 1 header -->
    {% include './partials/homepage/_sec-header.twig' %}

    <!-- section 2 gallery -->
    {% include './partials/homepage/_sec-gallery.twig' %}

    <!-- section 3 facilities -->
    {% include './partials/homepage/_sec-facilities.twig' %}
    
    <!-- section 4 landscape -->
    {% include './partials/homepage/_sec-landscape.twig' %}

    <!-- section 5 video -->
    {% include './partials/homepage/_sec-video.twig' %}

    <!-- section 6 unit plan -->
    {% include './partials/homepage/_sec-plan.twig' %}

    <!-- section 7 about -->
    {% include './partials/homepage/_sec-about.twig' %}

    <!-- section 8 brochure -->
    {% include './partials/homepage/_sec-brochure.twig' %}

    <!-- section 9 location -->
    {% include './partials/homepage/_sec-location.twig' %}

    <!-- section 10 brochure form -->
    {% include './partials/unit/_sec-brochure-form.twig' %}
  </div>

  <!-- footer -->
  {% include './partials/layouts/_footer.twig' %}
{% endblock %}
