{% extends 'layouts/default.twig' %}
{% set head_title = 'About Us' %}

{% block page %}
  <!-- header -->
  {% include './partials/layouts/_header.twig' %}

  <!-- content -->
  <div class="tl-content sec-2" id="content-body">
    <!-- section 1 header -->
    {% include './partials/summary/_sec-header.twig' %}

    <!-- section 2 summaries -->
    {% include './partials/summary/_sec-summaries.twig' %}

    <!-- section 3 brochure -->
    {% include './partials/summary/_sec-brochure.twig' %}

    <!-- section 4 brochure form -->
    {% include './partials/unit/_sec-brochure-form.twig' %}
  </div>

  <!-- footer -->
   {% include './partials/layouts/_footer-21.twig' %}' %}
{% endblock %}
