{% extends 'layouts/default.twig' %}
{% set head_title = 'Unit Plans' %}

{% block page %}
  <!-- header -->
  {% include './partials/layouts/_header.twig' %}

  <!-- content -->
  <div class="tl-content sec-2" id="content-body">
    <!-- section 1 header -->
    {% include './partials/unit/_sec-header.twig' %}

    <!-- section 2 living -->
    {% include './partials/unit/_sec-living.twig' %}

    <!-- section 3 luxurious -->
    {% include './partials/unit/_sec-luxurious.twig' %}

    <!-- section 4 japanese -->
    {% include './partials/unit/_sec-japanese.twig' %}

    <!-- section 5 room -->
    {% include './partials/unit/_sec-room.twig' %}

    <!-- section 6 brochure -->
    {% include './partials/unit/_sec-brochure.twig' %}

    <!-- section 7 brochure form -->
    {% include './partials/unit/_sec-brochure-form.twig' %}
  </div>

  <!-- footer -->
   {% include './partials/layouts/_footer-21.twig' %}
{% endblock %}
