<div class="tl-mk-m tl-sec-padding-y" id="surrounding-marker">
  <div class="tl-container pad-more">
    <div class="tl-sd-m-title-grid">
      <div class="row">
        <!-- title -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h2 class="tl-sec-title no-gap text-brown">
            SCHOOLS, HOSPITALS, SHOPS, THIS ENVIRONMENT, BOASTING EXCELLENT CONVENIENCE
          </h2>
        </div>

        <!-- descr -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="tl-sd-m-descr">
            <p class="text-black mb-25">
              Droplets of Water that fall from leaves on the trees collect to from a river. Several rivers come together to make a mighty river, and then, eventually, a waterfall.
            </p>

            <p class="text-black">
              In the same way, BRANZ SIMATUPANG is formed from the collection of different values, fusing them cleanly together, and bringing them to the land of Jakarta beautiful, abundant, and with immutable value. We have drawn our inspiration from water.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- map -->
    <div class="tl-mk-map">
      <div class="tl-mk-map-item">
        <div><img src="../../../img/images/future-image-map-1.png" alt="Map 1"></div>
        <div class="mobile"><img src="../../../img/images/future-image-map-1-2.png" alt="Map 1"></div>
      </div>
    </div>
  </div>
</div>
