<div class="tl-mk-o tl-sec-padding-y" id="surrounding-our">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-center text-white">
      Our Surroundings
    </h2>

    <!-- descr -->
    <div class="tl-mk-o tl-au-table">
      <div class="row">
        <!-- left -->
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <!-- international school -->
          <div class="tl-sd-table-item-wrapper">
            <div class="tl-au-table-item bg-brown">INTERNATIONAL SCHOOL</div>

            <div>
              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Singapore International School</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">1,4 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Jakarta International School</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">2,2 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Highscope School</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">2,3 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Australian International School</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">6 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Jakarta Japanese School</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">17,8 KM</div>
              </div>
            </div>
          </div>

          <!-- hospital -->
          <div class="tl-sd-table-item-wrapper">
            <div class="tl-au-table-item bg-brown">HOSPITAL</div>

            <div>
              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Siloam Hospital</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">0,3 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Mayapada Hospital</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">0,85 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Fatmawati Hospital</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">1,3 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Pondok Indah Hospital</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">3,7 KM</div>
              </div>
            </div>
          </div>

          <!-- business place -->
          <div class="tl-sd-table-item-wrapper">
            <div class="tl-au-table-item bg-brown">BUSINESS PLACE</div>

            <div>
              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">MM 2100</div>
              </div>
            </div>
          </div>
        </div>

        <!-- limit -->
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">&nbsp;</div>

        <!-- right -->
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <!-- private school -->
          <div class="tl-sd-table-item-wrapper">
            <div class="tl-au-table-item bg-brown">PRIVATE SCHOOL</div>

            <div>
              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Sekolah Cikal</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">2 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">SMU Don Bosco Pondok Indah</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">2 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Tirta Marta BPK Penabur</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">2 KM</div>
              </div>
            </div>
          </div>

          <!-- commercial convinience -->
          <div class="tl-sd-table-item-wrapper">
            <div class="tl-au-table-item bg-brown">COMMERCIAL CONVINIENCE</div>

            <div>
              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Carrefour Lebak Bulus</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">1,2 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Cilandak Town Square</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">3,2 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Pondok Indah Mall</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">4 KM</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Kemang Village</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">8,1 KM</div>
              </div>
            </div>
          </div>
          
          <!-- access -->
          <div class="tl-sd-table-item-wrapper">
            <div class="tl-au-table-item bg-brown">ACCESS</div>

            <div>
              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">MRT Station Fatmawati</div>
              </div>

              <div class="tl-sd-table-item-value row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Toll road/Highway enter Fatmawati</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  