<div class="tl-home-ls" id="surrounding-future">
  <div class="tl-home-ls-slider-item" data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
    <div class="tl-container tl-sec-padding-y">
      <h2 class="tl-sec-title text-center text-white gap-less">Future</h2>
      <p class="tl-home-ls-text text-center text-white mb-25">
        A City Speeding Into The Future
      </p>
      <div class="tl-home-ls-button display-flex justify-content-center">
        <a class="tl-button btn-white">See details</a>
      </div>
    </div>
  </div>
</div>
