<div class="tl-at-header" id="adventages-2-header">
  <!-- menu 1 -->
  <div class="tl-container pad-more display-flex justify-content-center align-items-center">
    <div class="tl-at-header-inner">
      <!-- menu 1 -->
      <div class="tl-at-menu-1 mb-50">
        <!-- title -->
        <h1 class="tl-sec-title text-center text-white">Advantages</h1>

        <!-- buttons -->
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a class="tl-button btn-black-light">HOW ABOUT YOUR PRODUCT?</a>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a class="tl-button btn-brown active">ONLY ONE</a>
          </div>
        </div>
      </div>

      <!-- menu 2 -->
      <div class="tl-at-menu-2">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a
              class="tl-at-menu-2-item display-flex align-items-center"
              j-direction="scroll-section"
              j-target="adventages-2-security">
              Extensive Security Throughout
            </a>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a
              class="tl-at-menu-2-item display-flex align-items-center"
              j-direction="scroll-section"
              j-target="adventages-2-revolution">
              Revolutionary Piping System. The First Of Its Kind In Indonesia
            </a>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a
              class="tl-at-menu-2-item display-flex align-items-center"
              j-direction="scroll-section"
              j-target="adventages-2-ultimate">
              Ulimate Comfort, Made Possible By World Class Technology
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
