<div class="tl-at-revolution tl-sec-padding-y" id="adventages-2-revolution">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-center text-white">
      Revolutionary Piping System the FIRST of Its Kind in Indonesia
    </h2>

    <!-- image -->
    <div class="tl-at-rv-image text-center mb-25">
      <img src="../../../img/images/adventages-revolution.jpg">
    </div>

    <!-- descr -->
    <div class="tl-at-rv-descr text-center">
      <h3 class="tl-at-rv-descr-title opensans-bold font-size-18px text-brown mb-15">
        Piping on slabs
      </h3>
      <p class="tl-at-rv-descr-text text-white">
        Usually, when there is a water leak etc. in a room above, leaking water drips down into your room. But your room will not be affected in our condominiums. And in usual buildings, if a room's pipes need maintenance, restoration work must be done from the floor below. But problems can be solved in your room alone in our condominiums.
      </p>
    </div>
  </div>
</div>
