<div class="tl-at-revolution tl-sec-padding-y" id="adventages-2-size">
  <div class="tl-container pad-more">
    <!-- small title -->
    <h2 class="tl-sec-title-small text-center text-brown">
      Size and Arrangement
    </h2>

    <!-- descr -->
    <p class="tl-at-sz-descr text-center text-white mb-35">
      These are the first condominiums in Indonesia that use Ecocarat, interior wall tiles that clean the air. While keeping a pleasant humidity level, they reduce bad smells, and absorb and reduce harmful substances that cause sick building syndrome.
    </p>

    <!-- image 1 -->
    <div class="tl-at-sz-image-1 text-center mb-35"><img src="../../../img/images/adventage-size-1.jpg"></div>

    <!-- descr 2 -->
    <div class="tl-at-sz-descr-2 text-center mb-50">
      <div class="row">
        <div class="tl-at-sz-d2-descr col-md-6">
          <h3 class="tl-at-sz-d2-d-title opensans-bold font-size-18px text-brown mb-15">
            First in the world to use the latest low-E glass
          </h3>
          <p class="tl-at-sz-d2-d-text text-white mb-10">
            These are the first condominiums in Indonesia that use Ecocarat, interior wall tiles that clean the air. 
          </p>
          <p class="tl-at-sz-d2-d-text text-white">
            While keeping a pleasant humidity level, they reduce bad smells, and absorb and reduce harmful substances that cause sick building syndrome.
          </p>
        </div>
        <div class="tl-at-sz-d2-image col-md-6"><img src="../../../img/images/adventage-size-2.jpg"></div>
      </div>
    </div>

    <!-- small title -->
    <h2 class="tl-sec-title-small text-center text-brown">
      Effective kitchen space No dead space in the kitchen area
    </h2>

    <!-- image 2 -->
    <div class="tl-at-sz-image-2 text-center"><img src="../../../img/images/adventage-size-3.jpg"></div>
  </div>
</div>
