<div class="tl-at-tm tl-sec-padding-y" id="adventages-2-security">
  <div class="tl-container mt-50">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-center">
      Extensive Security Throughout
    </h2>

    <!-- descr -->
    <div class="tl-at-sc-descr">
      <div class="row">
        <div class="tl-at-sc-descr-images col-md-4">
          <div><img src="../../../img/images/adventages-security-1.jpg"></div>
          <div><img src="../../../img/images/adventages-security-2.jpg"></div>
        </div>

        <div class="tl-at-sc-descr-text col-md-4 text-center">
          <h3 class="tl-at-sc-descr-text-title opensans-bold font-size-18px text-brown mb-15">
            Double-Private Elevators
          </h3>
          <p class="tl-at-sc-descr-text-text">
            Unlike usual condominiums in Indonesia, each unit has two private elevators. Even if one stops, the other will operate normally, so it can be used without problem, facilitating this safe, pleasant living environment. *Excluding the 1BR, duplex.
          </p>
        </div>

        <div class="tl-at-sc-descr-text col-md-4 text-center">
          <h3 class="tl-at-sc-descr-text-title opensans-bold font-size-18px text-brown mb-15">
            Hands-Free Key System
          </h3>
          <p class="tl-at-sc-descr-text-text">
            If you carry our special hands- free key in your bag or pocket, you can unlock your door with just the press of a button. No need to put your bags on the floor or let go of your child's hand. Our condominiums are the first in the world to use this key system, outside Japan.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
