<div class="tl-at-ultimate tl-sec-padding-y" id="adventages-2-ultimate">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-center text-white">
      ULTIMATE COMFORT, MADE POSSIBLE BY WORLD-CLASS TECHNOLOGY
    </h2>

    <!-- descr -->
    <div class="tl-at-um-descr">
      <div class="tl-at-um-d-item row align-items-center text-center mb-50">
        <div class="tl-at-um-d-i-image col-md-6 text-left"><img src="../../../img/images/adventage-ultimate-1.jpg"></div>
        <div class="tl-at-um-d-i-descr col-md-6">
          <h3 class="tl-at-um-d-i-d-title opensans-bold font-size-18px text-brown mb-25">
            Dedicated Faucet with Water Purifier System
          </h3>
          <p class="tl-at-um-d-i-d-text text-white">
            Usually, when there is a water leak etc. in a room above, leaking water drips down into your room. But your room will not be affected in our condominiums. And in usual buildings, if a room's pipes need maintenance, restoration work must be done from the floor below. But problems can be solved in your room alone in our condominiums.
          </p>
        </div>
      </div>

      <div class="tl-at-um-d-item row align-items-center text-center mb-50">
        <div class="tl-at-um-d-i-descr col-md-6">
          <h3 class="tl-at-um-d-i-d-title opensans-bold font-size-18px text-brown mb-25">
            Intercom with TV monitor (made by Panasonic)
          </h3>
          <p class="tl-at-um-d-i-d-text text-white">
            Usually, when there is a water leak etc. in a room above, leaking water drips down into your room. But your room will not be affected in our condominiums. And in usual buildings, if a room's pipes need maintenance, restoration work must be done from the floor below. But problems can be solved in your room alone in our condominiums.
          </p>
        </div>
        <div class="tl-at-um-d-i-image col-md-6 text-right"><img src="../../../img/images/adventage-ultimate-2.jpg"></div>
      </div>

      <div class="tl-at-um-d-item row align-items-center text-center">
        <div class="tl-at-um-d-i-image col-md-6 text-left"><img src="../../../img/images/adventage-ultimate-3.jpg"></div>
        <div class="tl-at-um-d-i-descr col-md-6">
          <h3 class="tl-at-um-d-i-d-title opensans-bold font-size-18px text-brown mb-25">
            Ecocarat
          </h3>
          <p class="tl-at-um-d-i-d-text text-white">
            These are the first condominiums in Indonesia that use Ecocarat, interior wall tiles that clean the air. While keeping a pleasant humidity level, they reduce bad smells, and absorb and reduce harmful substances that cause sick building syndrome.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
