<div class="tl-sm-sm tl-sec-padding-y" id="summary-summaries">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title bordered-top text-center text-brown">
      Summaries
    </h2>

    <!-- downloads -->
    <div class="tl-sm-sm-downloads mb-50">
      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>

      <div class="tl-sm-sm-downloads-item display-flex justify-content-between">
        <div class="tl-sm-sm-downloads-item-name">Lorem Ipsum Dol Sit Met</div>
        <a class="tl-sm-sm-downloads-item-button"><i class="fa fa-download"></i> Download</a>
      </div>
    </div>

    <!-- buttons -->
    <div class="tl-sm-sm-button display-flex justify-content-center">
      <a class="tl-button btn-brown">Load More</a>
    </div>
  </div>
</div>
