<div class="tl-cu-adrs" id="contact-address">
  <div class="tl-cu-adrs-wrapper display-flex">
    <!-- address -->
    <div class="tl-cu-adrs-descr tl-sec-padding-y tl-container display-flex align-items-center">
      <div>
        <h2 class="tl-cu-adrs-descr-phone mb-25">
          PT. Tokyu Land Indonesia (Marketing Gallery) <br>
          (62 21) 2765 2100
        </h2>
        <h2 class="tl-cu-adrs-descr-full">
          Marketing Office Commercial Building 2nd FL. <br>
          Jl. RA. Kartini / Jl. Kaimun Jaya No. 9, <br>
          Cilandak, Jakarta Selatan
        </h2>
      </div>
    </div>

    <!-- map -->
    <div class="tl-cu-adrs-map">
      <img src="../../../img/images/map.jpg">
    </div>
  </div>
</div>
