<div class="tl-cu-fm tl-sec-padding-y" id="contact-form">
  <div class="tl-container pad-more">
    <!-- form -->
    <form>
      <!-- appoinment, inquire -->
      <div class="tl-cu-fm-limit display-flex justify-content-center align-items-center mb-25">
        <!-- appoinment -->
        <div>
          <div class="tl-field-chekbox">
            <div class="tl-field-chekbox-input">
              <input type="radio" class="tl-field-chekbox-input-field" name="contact-radio" value="appoinment" id="form-appoinment">
              <div class="tl-field-chekbox-input-skin"></div>
            </div>
            <label class="tl-field-chekbox-label" for="form-appoinment">
              Appointment
            </label>
          </div>
        </div>

        <!-- limit -->
        <div class="tl-limit">&nbsp;</div>

        <!-- inquire -->
        <div>
          <div class="tl-field-chekbox">
            <div class="tl-field-chekbox-input">
              <input type="radio" class="tl-field-chekbox-input-field" name="contact-radio" value="inquire" id="form-inqure">
              <div class="tl-field-chekbox-input-skin"></div>
            </div>
            <label class="tl-field-chekbox-label" for="form-inqure">
              Inquiry
            </label>
          </div>
        </div>
      </div>

      <!-- fullname, telp -->
      <div class="row mb-25">
        <!-- fullname -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="tl-field mandatory">
            <input type="text" class="tl-field-input">
            <label class="tl-field-label">Full Name</label>
          </div>
        </div>

        <!-- telp -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="tl-field mandatory">
            <input type="number" class="tl-field-input">
            <label class="tl-field-label">Telp</label>
          </div>
        </div>
      </div>

      <!-- email -->
      <div class="tl-field mandatory mb-25">
        <input type="email" class="tl-field-input">
        <label class="tl-field-label">Email</label>
      </div>

      <!-- address -->
      <div class="tl-field mandatory mb-25">
        <input type="text" class="tl-field-input">
        <label class="tl-field-label">Address</label>
      </div>

      <!-- address -->
      <div class="tl-field mb-20">
        <textarea class="tl-field-input"></textarea>
        <label class="tl-field-label">Message</label>
      </div>

      <!-- agree, button -->
      <div class="display-flex justify-content-center">
        <!-- agree -->
        <div class="mr-10">
          <div class="tl-field-chekbox">
            <div class="tl-field-chekbox-input">
              <input type="radio" class="tl-field-chekbox-input-field" name="contact-radio" value="agree" id="form-agree">
              <div class="tl-field-chekbox-input-skin"></div>
            </div>
            <label class="tl-field-chekbox-label" for="form-agree">
              Agree to our <u>privacy policy</u>
            </label>
          </div>
        </div>

        <!-- button -->
        <div class="ml-10">
          <button type="button" class="tl-button btn-black">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
