<div class="tl-home-gallery tl-sec-padding-y" id="landscape-landscape">
  <div class="tl-container pad-more">
    <!-- title litle -->
    <div class="display-flex justify-content-center">
      <h3 class="tl-sec-title-litle text-white">
        Landscape
      </h3>
    </div>

    <!-- title -->
    <h2 class="tl-sec-title text-white text-center more-pad">
      BLENDING WITH THE SURROUNDINGS TO BECOME A SYMBOL OF THE CITY.
    </h2>

    <!-- images -->
    <div class="tl-lad-img">
      <!-- image 1 -->
      <div class="tl-lad-img-1" data-image="../../../img/images/home-bg-header.jpg" style="background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
      
      <!-- image 2 -->
      <div class="tl-lad-img-2" data-image="../../../img/images/home-bg-header.jpg" style="background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>

      <!-- image 3 -->
      <div class="tl-lad-img-3" data-image="../../../img/images/home-bg-header.jpg" style="background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
    </div>

    <!-- descr -->
    <div class="tl-lad-descr">
      <p class="text-center text-white mb-25">
        Rather than a foreign structure that stands out from the rest of the city, our aim is to create a building that will become the face of the city and accentuate the city itself. We have studied the color of all the things that make up this land, such as the plants, soil, housing, and traditional culture.
      </p>
      <p class="text-center text-white mb-25">
        We have analyzed a massive volume of data to derive a color concept for BRANZ Simatupang that is in harmony with the city of Jakarta. The design of the exterior is based on the image of a waterfall.
      </p>
      <p class="text-center text-white mb-25">
        The glass waterfall flowing down from the sky exudes a strong presence while resonating with the city, and fills the hearts of the residents with pride.
      </p>
      <p class="trajanpro-bold text-center font-size-18px text-brown">
        “YOUR DOORWAY TO A TIME OF BEAUTY. EACH TIME YOU RETURN, JOY RIPPLES ACROSS YOUR HEART.”
      </p>
      <p class="text-center text-white mb-25">
        A spacious site occupying a proximately 1.5 hectares of space, surrounded by greenery, at times glamorous, and at others serene.
      </p>
      <p class="text-center text-white">
        The exterior and common spaces are designed based on the image of the flow and movement of water. It brings about encounters and connections between nature and people, as well as between people themselves, filling our everyday lives with vibrant color.
      </p>
    </div>
  </div>
</div>
