<div class="tl-lad-design tl-sec-padding-y" id="landscape-design">
  <div class="tl-container pad-more">
    <!-- title litle -->
    <div class="display-flex justify-content-center">
      <h3 class="tl-sec-title-litle text-white">
        Interior Design
      </h3>
    </div>

    <!-- title -->
    <h2 class="tl-sec-title text-black text-center more-pad">
      A SPACE WORTHY OF BEING CALLED A WORK OF ART.
    </h2>

    <!-- images -->
    <div class="tl-lad-img">
      <!-- image 1 -->
      <div class="tl-lad-img-1" data-image="../../../img/images/home-bg-header.jpg" style="background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
      
      <!-- image 2 -->
      <div class="tl-lad-img-2" data-image="../../../img/images/home-bg-header.jpg" style="background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>

      <!-- image 3 -->
      <div class="tl-lad-img-3" data-image="../../../img/images/home-bg-header.jpg" style="background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
    </div>

    <!-- descr -->
    <div class="tl-lad-descr">
      <p class="text-center text-black">
        Born in Kyoto in 1941. Studied glass production in Milan, Italy, and established a studio in Daikanyama, Tokyo, in 1978. Since then, he has created magical works of art that push the boundaries of what is possible with glass. Relocated artist who also creates decorative art for famous luxury resorts. A residence that matches the sensibilities and lifestyles of global citizens. It harmonizes beautifully with the city, and enriches the hearts of people.
      </p>
    </div>
  </div>
</div>
