<div class="tl-lad-gal" id="landscape-gallery">
  <div class="tl-lad-gal-list display-flex">
      <div class="tl-lad-gal-list-item" data-image="../../../img/images/home-bg-header.jpg" style="background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
      <div class="tl-lad-gal-list-item" data-image="../../../img/images/home-bg-header.jpg" style="background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
      <div class="tl-lad-gal-list-item" data-image="../../../img/images/home-bg-header.jpg" style="background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
      <div class="tl-lad-gal-list-item" data-image="../../../img/images/home-bg-header.jpg" style="background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
  </div>
</div>
