.tl-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
  z-index: 1000;
  background-color: $black;
}
.tl-footer-to-top {
  position: absolute;
  top: -25px;
  right: 25px;
  height: 50px;
  width: 50px;
  padding-bottom: 6px;
  z-index: 5;
  background-color: white;
  border-radius: 100%;
  font-size: 48px;
  color: $black;
  line-height: 0;
  cursor: pointer;
}
.tl-footer-logo,
.tl-footer-sosmed {
  flex-basis: 17%;
  max-width: 17%;
}
.tl-footer-cr {
  font-family: $TrajanPro;
  font-size: 12px;
  color: white;
}
.tl-footer-cr > span { text-decoration: underline; }
.tl-footer-sosmed > a {
  font-size: 28px;
  color: white;
}
.tl-footer-sosmed > a:last-child {
  margin-left: 15px;
}
