.tl-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 231.09px;
  padding: 15px 25px;
  transition: $transition_03s;
  font-family: $OpenSansBold;
  font-size: 18px;
  cursor: pointer;
}
.tl-button.btn-black {
  border: 1.25px solid $black;
  color: $black;
}
.tl-button.btn-black:hover,
.tl-button.btn-black.active {
  background-color: $black;
  color: $white;
}
.tl-button.btn-white {
  border: 1.25px solid $white;
  color: $white;
}
.tl-button.btn-white:hover,
.tl-button.btn-white.active {
  background-color: $white;
  color: $black;
}
.tl-button.btn-brown {
  border: 1.25px solid $brown;
  color: $brown;
}
.tl-button.btn-brown:hover,
.tl-button.btn-brown.active {
  background-color: $brown;
  color: $white;
}
.tl-button.btn-black-light {
  background-color: $blackLight;
  border: 1.25px solid $white;
  color: $white;
}
.tl-button.btn-black-light:hover,
.tl-button.btn-black-light.active {
  background-color: $white;
  color: $blackLight;
}
.tl-field-chekbox {
  display: flex;
  cursor: pointer;
}
.tl-field-chekbox-input {
  position: relative;
  height: 25px;
  width: 25px;
  margin-right: 15px;
}
.tl-field-chekbox-input-field {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.tl-field-chekbox-input-skin {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: $white;
  border: 1px solid $black;
}
.tl-field-chekbox-input-skin::before {
  content: '';
  display: block;
  position: absolute;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  background-color: $red;
  transition: $transition_03s;
  transform: scale(0, 0)
}
.tl-field-chekbox-input-field:checked ~ .tl-field-chekbox-input-skin::before {
  transform: scale(1, 1)
}
.tl-field-chekbox-label {
  margin-top: 2.5px;
  font-family: $TrajanProBold;
  font-size: 18px;
}
.tl-field {
  position: relative;
}
.tl-field.mandatory::before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 15px;
  width: 15px;
  z-index: 3;
  background-color: $red;
  border-radius: 100%;
}
.tl-field-input {
  height: 45px;
  width: 100%;
  padding: 0 15px;
  background: $white;
  border: 1px solid #c7c7c7;
}
textarea.tl-field-input {
  height: 185px;
  padding: 15px;
}
.tl-field-label {
  position: absolute;
  top: 14px;
  left: 15px;
  transition: $transition_03s;
  font-size: 16px;
}
.tl-field-input.not-empty ~ .tl-field-label {
  top: 2.5px;
  font-family: $OpenSansBold;
  font-size: 10px;
}
.tl-field-select-wrapper { position: relative; }
.tl-field-select {
  position: relative;
  height: 60px;
  width: 231.09px;
  padding-right: 25px;
  padding-left: 25px;
  appearance: none;
  border: 1px solid $white;
  font-size: 18px;
  color: $white;
}
.tl-field-select-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 7.5px;
  margin-top: -3px;
  border-top: 6px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
