.tl-header,
.tl-header-inner { height: 95px; }
.tl-header-inner {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: $black;
  transition: $transition_03s;
}
.tl-header.bg-white .tl-header-inner { background-color: $white; }
.tl-header.bg-black .tl-header-inner { background-color: $black; }
.tl-header.show .tl-header-inner { top: 0; }
.tl-header-logo {
  position: relative;
  height: 47px;
  padding-left: 25px;
}
.tl-header-logo > a {
  display: block;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 1;
  opacity: 0;
  transition: $transition_03s;
  cursor: pointer;
}
.tl-header.tl-header.bg-white .tl-header-logo > a.logo-black { opacity: 1; }
.tl-header.tl-header.bg-black .tl-header-logo > a.logo-white { opacity: 1; }
.tl-header-menu-wrapper,
.tl-header-button-wrapper {
  height: 45%;
  flex-basis: 100%;
  max-width: 100%;
}
.tl-header-menu-wrapper {
  height: 100%;
  flex-basis: 87%;
  max-width: 87%;
}
.tl-header-menu {
  height: 55%;
  flex-basis: 100%;
  max-width: 100%;
  padding-right: 30px;
  overflow-x: auto;
}
.tl-header-menu.top { height: 100%; }
.tl-header-menu > a {
  position: relative;
  height: 100%;
  padding: 0 12.5px;
  font-family: $TrajanProBold;
  font-size: 13px;
  color: $white;
  transition: $transition_03s;
  cursor: pointer;
}
.tl-header-menu.top > a { font-size: 12px; }
.tl-header.bg-white .tl-header-menu > a { color: $black; }
.tl-header.bg-black .tl-header-menu > a { color: $white; }
.tl-header-menu > a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 1.5px;
  left: 0;
  height: 1.5px;
  width: 100%;
  z-index: 1;
  background-color: $white;
  transform: scale(0, 1);
  transition: $transition_03s;
}
.tl-header.bg-white .tl-header-menu > a::before { background-color: $black; }
.tl-header.bg-black .tl-header-menu > a::before { background-color: $white; }
.tl-header-menu > a:hover::before,
.tl-header-menu > a.active::before { transform: scale(1, 1); }
.tl-header-button-cu,
.tl-header-button-fr {
  height: 100%;
  width: 160px;
  margin: 0 1px;
  box-shadow: inset 0 0 7.5px $white;
  font-size: 14px;
  color: $white;
}
.tl-header-button-cu { background-color: #514d3d; }
.tl-header-button-fr {
  background-color: #674b2f;
  font-family: $KozukaMinchoBold;
}
