.tl-home-header { line-height: 0; }
.tl-home-header img {
  width: 100%;
}
.tl-home-header-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.tl-home-header-op {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: $black;
}
.tl-home-header-tb { height: 100%; }
.tl-home-header-text {
  margin-bottom: 35px;
  font-size: 16px;
  color: white;
}
.tl-home-header-text.no-bold { font-family: $TrajanPro; }
.tl-home-gallery { background-color: $blackLight; }
.tl-home-gallery.bg-white { background-color: $white; }
.tl-home-gallery-list { margin-bottom: 50px; }
.tl-home-gallery-list.no-gap { margin-bottom: 0; }
.tl-home-gallery-list.no-gap { margin-bottom: 0; }
.tl-home-gallery-list-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.tl-home-gallery-list-item > a {
  display: block;
  height: 250px;
  overflow: hidden;
}
.tl-home-gallery-list-item > a > div { transition: $transition_03s; }
.tl-home-gallery-list-item > a:hover > div { transform: scale(1.25, 1.25) }
.tl-home-fac-list { margin-bottom: 50px; }
.tl-home-fac-list.no-gap { margin-bottom: 0; }
.tl-home-fac-list-item-thumb {
  position: relative;
  height: 230px;
  margin-bottom: 15px;
  overflow: hidden;
}
.tl-home-fac-list-item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: $transition_03s;
}
.tl-home-fac-list-item-thumb:hover .tl-home-fac-list-item-bg { transform: scale(1.25, 1.25) }
.tl-home-fac-list-item-text {
  position: relative;
  height: 100%;
  z-index: 3;
  background-color: rgba(0,0,0,0.4);
  font-family: $OpenSansBold;
  font-size: 18px;
  color: $white; 
}
.tl-home-fac-list-item-title {
  font-size: 16px;
  color: $black;
}
.tl-home-ls-slider-item > div { background: rgba(0,0,0,0.4); }
.tl-home-ls-slider-item.shahow-white > div { background: rgba(255,255,255,0.2); }
.tl-home-ls-slider-item:not(.height-auto) .tl-container { height: 455px; }
.tl-home-vid-video {
  position: relative;
  flex: 0 0 65%;
  max-width: 65%;
  height: 500px;
}
.tl-home-vid-video a {
  display: flex;
  position: relative;
  height: 100%;
  cursor: pointer;
}
.tl-home-vid-video a::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: transparent;
}
.tl-home-vid-video iframe {
  height: 100% !important;
  width: 100% !important;
}
.tl-home-vid-video.height-out iframe {
  position: absolute;
  top: 50%;
  left: 0;
  height: 600px !important;
  margin-top: -300px;
  z-index: 10;
}
.tl-home-vid-descr {
  flex: 0 0 35%;
  max-width: 35%;
  height: 500px;
  padding-right: 50px;
  padding-left: 50px;
  overflow-y: auto;
  background: $black;
}
.tl-home-vid-descr-title { font-size: 16px; }
.tl-home-vid-descr-title.little-border {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
  font-family: $TrajanProBold;
  font-size: 36px;
}
.tl-home-vid-descr-title.little-border::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.5px;
  left: 0;
  height: 1px;
  width: 90px;
  background-color: $brown;
}
.tl-home-vid-descr-text > p {
  margin-bottom: 25px;
  font-family: $TrajanProBold;
  font-size: 36px;
  color: $white;
}
.tl-home-vid-descr-text > p:last-child { margin-bottom: 0; }
.tl-home-au-stat { padding: 0 210px; }
.tl-home-au-stat-item {
  margin-top: 15px;
  margin-bottom: 15px;
}
.tl-home-au-stat-item > .wrapp {
  position: relative;
  height: 125px;
  border: 1px solid $black;
  border-radius: 10px;
}
.tl-home-au-stat-item-icon { position: absolute; }
.tl-home-au-stat-item > .wrapp.employee .tl-home-au-stat-item-icon {
  top: 5px;
  left: 0;
  width: 100%;
}
.tl-home-au-stat-item > .wrapp.companies .tl-home-au-stat-item-icon {
  top: 15px;
  right: 5px;
}
.tl-home-au-stat-item > .wrapp.consolidated .tl-home-au-stat-item-icon {
  top: 20px;
  right: 5px;
}
.tl-home-au-stat-item > .wrapp.sqm .tl-home-au-stat-item-icon {
  bottom: 0;
  right: 5px;
}
.tl-home-au-stat-item > .wrapp.condominium .tl-home-au-stat-item-icon,
.tl-home-au-stat-item > .wrapp.office .tl-home-au-stat-item-icon {
  bottom: -3px;
  right: 5px;
}
.tl-home-au-stat-item-descr {
  position: absolute;
  padding: 15px;
  z-index: 3;
}
.tl-home-au-stat-item > .wrapp.employee .tl-home-au-stat-item-descr {
  left: 0;
  bottom: 0;
  width: 100%;
}
.tl-home-au-stat-item > .wrapp.companies .tl-home-au-stat-item-descr {
  top: 50%;
  left: 0;
  margin-top: -50.5px;
}
.tl-home-au-stat-item > .wrapp.consolidated .tl-home-au-stat-item-descr {
  bottom: 0;
  left: 0;
  width: 100%;
}
.tl-home-au-stat-item > .wrapp.sqm .tl-home-au-stat-item-descr {
  top: 0;
  left: 0;
  width: 100%;
}
.tl-home-au-stat-item > .wrapp.condominium .tl-home-au-stat-item-descr,
.tl-home-au-stat-item > .wrapp.office .tl-home-au-stat-item-descr {
  top: 0;
  left: 0;
}
.tl-home-au-stat-item-descr > .valuee {
  font-family: $OpenSansBold;
  font-size: 48px;
  color: $grey;
}
.tl-home-au-stat-item-descr > .valuee > span { font-size: 20px; }
.tl-home-au-stat-item-descr > .titlee {
  font-size: 14px;
  color: $grey;
}
.tl-home-au-stat-item > .wrapp.sqm .tl-home-au-stat-item-descr > .titlee { width: 100px; }
.tl-home-au-stat-item > .wrapp.condominium .tl-home-au-stat-item-descr > .titlee,
.tl-home-au-stat-item > .wrapp.office .tl-home-au-stat-item-descr > .titlee { width: 110px; }
#home-brochure .tl-sec-title { font-size: 24px; }
.tl-home-lc { background-color: $blackLight; }
.tl-home-lc-map { text-align: center; }
.tl-home-lc-map img { max-width: 100%; }
