.tl-mk { background-color: $blackLight; }
.tl-mk-image { text-align: center; }
.tl-mk-image img { max-width: 100%; }
.tl-mk-map-item {
  text-align: center;
}
.tl-mk-map-item > div.mobile { display: none; }
.tl-mk-map-item img { max-width: 100%; }
