<div class="tl-home-ls" id="home-plan">
  <div class="tl-home-ls-slider-item" j-direction="parallax" data-parallax-bg-image="../../../img/images/home21-bg-unit.jpg">
    <div class="tl-container tl-sec-padding-y display-flex align-items-center">
      <div>
        <h2 class="tl-sec-title text-white gap-less">Unit Plan</h2>
        <p class="tl-home-ls-text text-white mb-25">
          The Fusion of Artisanship  and Different Values, <br>
          Inspiring The Senses of Those Who Live Here.
        </p>
      </div>
    </div>
  </div>
</div>
