<div class="tl-home-ls" id="home-landscape">
  <!-- slider -->
  <div class="tl-home-landscape-slider">
    <!-- item 1 -->
    <div class="tl-home-ls-slider-item" j-direction="parallax" data-parallax-bg-image="../../../img/images/home21-bg-landscape.jpg">
      <div class="tl-container tl-sec-padding-y display-flex align-items-center">
        <div>
          <h2 class="tl-sec-title text-white gap-less">Landscape and Design</h2>
          <p class="tl-home-ls-text text-white">
            Reminiscent of a waterfall from the Sky. <br>
            Blending with the surroundings to become a symbol of the city.
          </p>
          <div class="tl-home-ls-button display-flex">
            <a class="tl-button btn-white">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
