<div class="tl-home-gallery tl-sec-padding-y" id="home-gallery">
  <div class="tl-container">
    <!-- title -->
    <h2 class="tl-sec-title text-white text-center">
      Welcome to Branz Simatupang
    </h2>

    <!-- gallery list -->
    <div class="tl-home-gallery-list no-gap">
      <div class="row">
        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home-bg-header.jpg"
              style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-2.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-2.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-3.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-3.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-4.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-4.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-5.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-5.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-6.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-6.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-7.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-7.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-8.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-8.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-9.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-9.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-10.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-10.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-11.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-11.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>

        <div class="tl-home-gallery-list-item col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <a j-direction="show-image">
            <div
              data-image="../../../img/images/home21-gal-12.jpg"
              style="height: 100%; background-image: url('../../../img/images/home21-gal-12.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
              &nbsp;
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- image popup -->
    <div class="tl-popup" id="popup-show-img-wrapper">
      <div class="tl-popup-img-inner position-relative">
        <a class="tl-popup-close" id="popup-show-img-close"><i class="fa fa-times"></i></a>
        <div class="tl-popup-img-show" id="popup-show-img-place">
          <img src="">
        </div>
      </div>
    </div>
  </div>
</div>
