<div class="tl-mk tl-sec-padding-y" id="future-marker">
  <div class="tl-container pad-more">
    <!-- title -->
    <h2 class="tl-sec-title text-white bordered-top text-center">
      A LIFE WHERE YOU CAN EXPERIENCE REMARKABLE PROGRESS FIRSTHAND
    </h2>

    <!-- image -->
    <div class="tl-mk-image mb-50">
      <div data-image="../../../img/images/home-bg-header.jpg" style="height: 100%; background-image: url('../../../img/images/home-bg-header.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">&nbsp;</div>
    </div>

    <!-- descr -->
    <div class="tl-mk-descr1 mb-50">
      <p class="text-white text-center mb-25">
        In order to enhance the existing transportation network such as trains (Kereta Api), buses and taxis which supports the large metropolis in Jakarta, a subway MRT (mass rapid transit) is scheduled to be opened in 2016. The MRT which makes transport of a larger number of people as well as shorter transportation time possible, will enable them to ease the traffic jams for automobiles and is expected to contribute to the further activation of the Jakarta economy.
      </p>

      <p class="font-size-20px text-greyText text-center">
        “Tokyu Construction Co., Ltd., a member of the Tokyu Group, is also participating in the construction of the very first subway MRT in Indonesia.”
      </p>
    </div>

    <!-- map -->
    <div class="tl-mk-map">
      <div class="tl-mk-map-item">
        <div><img src="../../../img/images/future-image-map-1.png" alt="Map 1"></div>
        <div class="mobile"><img src="../../../img/images/future-image-map-1-2.png" alt="Map 1"></div>
      </div>
    </div>
  </div>
</div>
